/*
    Я написал немного стилей, чтобы проект выглядел приятно. Наконец-то в вашем задании я увидел такой пункт - напишите стили. Хотя я уверен, что я привысил
    свои полномочия (вы просили дописать / изменить ваш файл стилей), но надеюсь что это приемлимо.
*/
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transform";

@import "common/variables";
@import "mixins/fonts";
@import "mixins/media";

@import "common/reset";
@import "common/type";
@import "common/layout";
@import "common/footer";

/*
    Шапка сайта
*/
.header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $header-background-color;

    &-nav {
        min-width: 480px;
        max-width: 80%;
        height: 50px;
        display: flex;
        margin: 0 auto;
        padding: 0 40px;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;

        &__list {
            width: 100%;
            display: flex;
            padding: 0;

            &-item {
                display: list-item;
                margin-left: 24px;
                text-align: left;

                &_search {
                    margin-left: 0;
                    margin-right: auto;
                }

                &-link {
                    padding: 10px;
                    font-size: 14px;
                    color: white;

                    &:hover {
                        color: transparentize(white, .3);
                    }
                }
            }
        }
    }
}

/*
    Стили для формы поиска изображений
*/
.search-form-wrapper {
    position: absolute;
    display: block;
    top: 8.5px;
}

.search-form {
    position: relative;
    display: block;
    height: 33px;

    &__input {
        position: relative;
        display: inline-block;
        width: 220px;
        height: 100%;
        padding: 0 5px 0 38px;
        border: 0 solid $base-border-color;
        color: #000;
        @include regular(14px, 33px);
        outline: none;
        border-radius: 3px;
        background-color: transparentize(white, .2);
        @include transition(background-color 250ms ease-in-out, width 250ms ease-in-out);

        &:focus {
            width: 360px;
            background-color: white;
            @include box-shadow(inset 0 0 3px 1px rgba(0, 112, 255, .13));
        }
    }

    &__button-container {
        position: absolute;
        width: 32px;
        height: 100%;
        top: 0; left: 4px;

        &:hover {
            .search-form__icon {
                opacity: 1;
            }
        }
    }

    &__icon {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%; left: 50%;
        opacity: .6;
        @include translate(-50%, -50%);
        @include transition(opacity 250ms ease-in-out);
    }

    &__button {
        position: absolute;
        width: 32px;
        height: 100%;
        background-color: transparent;
        border: none;
        text-indent: 200%;
        top: 0; left: 0;
        padding: 0;
        cursor: pointer;
    }
}

/*
    Стили для блока с контентом
*/
.content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 122px 0 0;
}

/*
    Стили для справочной шапки в изображениях
*/
.images-header {
    position: fixed;
    width: 100%;
    height: 72px;
    top: 50px;
    left: 0; right: 0;
    background-color: white;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;

    &_active {
        .images-header__tag {
            span {
                background-color: white;
                padding: 10px;
                border-radius: 10px;
            }
        }
        .images-header__page {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
        }
    }

    &__wrapper {
        position: relative;
        min-width: 480px;
        max-width: 80%;
        padding: 0 40px;
        margin: 0 auto;
    }

    &__tag {
        position: relative;
        @include bold(24px, 72px);
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        color: $base-text-color;
    }

    &__page {
        position: absolute;
        top: 50%;
        right: 50px;
        color: $inaccent-text-color;
        @include translateY(-50%);
        @include regular(14px, 1);

        &-total, &-info {
            font-weight: bold;
        }
    }
}

/*
    Стили для сетки с изображениями
*/
.images {
    & > .images-message__loader {
        width: 64px;
        height: 64px;
        position: absolute;
        margin: 30px 0;
        text-align: center;
        bottom: 0;
        left: 50%;
        z-index: 1000;
        @include translateX(-50%);
    }
}

.images {
    min-width: 480px;
    max-width: 80%;
    padding: 50px;
    margin: 0 auto;

    &-list {
        width: 100%;
        max-width: 100%;

        &__item {
            position: relative;
            display: inline-block;
            margin-bottom: 30px;
            width: 100%;
            vertical-align: top;

            .image-wrapper {
                background-color: white;
                @include box-shadow(
                    0 1px 3px rgba(0, 0, 0, .12), 
                    0 1px 2px rgba(0, 0, 0, .24)
                );
                @include transition(box-shadow 0.3s cubic-bezier(.25, .8, .25, 1));
    
                &:hover {
                    @include box-shadow(
                        0 14px 28px rgba(0,0,0,0.25), 
                        0 10px 10px rgba(0,0,0,0.22)
                    );
                }
            }

            .image {
                width: 100%;
                display: block;
            }

            .image-title {
                padding: 10px 15px;
                @include regular(14px, 1.7);
                color: $inaccent-text-color;
                word-break: break-all;
            }
        }

        @include media-mid() {
            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
            grid-gap: 30px;

            &__item {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        @include media-large() {
            grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
            grid-gap: 20px;
        }
    }
}

.images-wrapper {
    position: relative;
    z-index: 100;
}

.to-top {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
    background-color: $accent-border-color;
    z-index: 1000;
    bottom: 50px;
    left: 50px;
    border-radius: 4px;
    border: 3px solid darken($accent-border-color, 15%);
    cursor: pointer;
    @include transition(transform 250ms ease-in-out);

    &:hover {
        @include scale(1.2);
    }

    &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border: 0 solid darken($accent-border-color, 15%);
        border-width: 3px 0 0 3px;
        top: 18px; left: 12px;
        @include rotate(45deg);
    }
}

/*
    Стили для информационных сообщений
*/
.images-message {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 200px 50px;

    &__line-1,
    &__line-2 {
        display: block;
    }

    &__line-1 {
        @include bold(24px, 72px);
        color: $inaccent-text-color;
        white-space: nowrap;
        overflow: hidden;
    }

    &__line-2 {
        @include regular(16px, 1.6);
    }

    &__loader {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        border: 10px solid white;
        @include box-shadow(0 0 4px rgba(0, 0, 0, .34));
    }
}

/*
    Стили для отображения ошибок
*/
.error {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 200px 50px;

    &-code {
        @include bold(72px, 1);
        color: $inaccent-text-color;
    }

    &-text {
        margin: 30px 0;
        
        &__description {
            @include bold(18px, 26px);
            letter-spacing: 1px;
        }

        &__message {
            margin-top: 10px;
            @include regular(18px, 24px);
            color: $inaccent-text-color;
        }
    }
}