@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

ul {
  list-style: none;
}

*,
*:after,
*:before {
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

html {
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}

h1 {
  font-weight: 100;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 30px;
}

h2 {
  font-weight: 100;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.87);
}

h3 {
  font-weight: 700;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.87);
}

.small-text {
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}

.extra-small-text {
  font-weight: 300;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

html {
  height: 100% !important;
}

html, body {
  overflow-x: auto;
  overflow-y: auto;
}

body {
  min-height: 100%;
  padding-left: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #f3f5f6;
}

.content {
  padding-bottom: 72px;
}

.footer {
  position: absolute;
  height: 72px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.footer .footer__copyright,
.footer .footer__regards {
  width: 49%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.54);
}
.footer .footer__copyright {
  text-align: left;
}
.footer .footer__regards {
  text-align: right;
  word-spacing: 2px;
}
.footer .footer__regards .footer__hearts {
  color: #f46f67;
}

/*
    Шапка сайта
*/
.header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(21, 21, 23, 0.95);
}
.header-nav {
  min-width: 480px;
  max-width: 80%;
  height: 50px;
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
.header-nav__list {
  width: 100%;
  display: flex;
  padding: 0;
}
.header-nav__list-item {
  display: list-item;
  margin-left: 24px;
  text-align: left;
}
.header-nav__list-item_search {
  margin-left: 0;
  margin-right: auto;
}
.header-nav__list-item-link {
  padding: 10px;
  font-size: 14px;
  color: white;
}
.header-nav__list-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

/*
    Стили для формы поиска изображений
*/
.search-form-wrapper {
  position: absolute;
  display: block;
  top: 8.5px;
}

.search-form {
  position: relative;
  display: block;
  height: 33px;
}
.search-form__input {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 100%;
  padding: 0 5px 0 38px;
  border: 0 solid #ccc;
  color: #000;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 33px;
  outline: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-transition: background-color 250ms ease-in-out, width 250ms ease-in-out;
  -o-transition: background-color 250ms ease-in-out, width 250ms ease-in-out;
  -webkit-transition: background-color 250ms ease-in-out, width 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, width 250ms ease-in-out;
}
.search-form__input:focus {
  width: 360px;
  background-color: white;
  -moz-box-shadow: inset 0 0 3px 1px rgba(0, 112, 255, 0.13);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 112, 255, 0.13);
  box-shadow: inset 0 0 3px 1px rgba(0, 112, 255, 0.13);
}
.search-form__button-container {
  position: absolute;
  width: 32px;
  height: 100%;
  top: 0;
  left: 4px;
}
.search-form__button-container:hover .search-form__icon {
  opacity: 1;
}
.search-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  opacity: .6;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.search-form__button {
  position: absolute;
  width: 32px;
  height: 100%;
  background-color: transparent;
  border: none;
  text-indent: 200%;
  top: 0;
  left: 0;
  padding: 0;
  cursor: pointer;
}

/*
    Стили для блока с контентом
*/
.content {
  position: relative;
  width: 100%;
  height: auto;
  padding: 122px 0 0;
}

/*
    Стили для справочной шапки в изображениях
*/
.images-header {
  position: fixed;
  width: 100%;
  height: 72px;
  top: 50px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.images-header_active .images-header__tag span {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.images-header_active .images-header__page {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.images-header__wrapper {
  position: relative;
  min-width: 480px;
  max-width: 80%;
  padding: 0 40px;
  margin: 0 auto;
}
.images-header__tag {
  position: relative;
  font-weight: 700;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.images-header__page {
  position: absolute;
  top: 50%;
  right: 50px;
  color: rgba(0, 0, 0, 0.54);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}
.images-header__page-total, .images-header__page-info {
  font-weight: bold;
}

/*
    Стили для сетки с изображениями
*/
.images {
  min-width: 480px;
  max-width: 80%;
  padding: 50px;
  margin: 0 auto;
}
.images-list {
  width: 100%;
  max-width: 100%;
}
.images-list__item {
  position: relative;
  display: block;
  margin-bottom: 30px;
  width: 100%;
}
.images-list__item .image-wrapper {
  background-color: white;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.images-list__item .image-wrapper:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.images-list__item .image {
  width: 100%;
  display: block;
}
.images-list__item .image-title {
  padding: 10px 15px;
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.54);
}
@media (min-width: 1000px) {
  .images-list {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .images-list__item {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 1210px) {
  .images-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.images-wrapper {
  position: relative;
  z-index: 100;
}

.to-top {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #E64A19;
  z-index: 1000;
  bottom: 50px;
  left: 50px;
  border-radius: 4px;
  border: 3px solid #a13412;
  cursor: pointer;
  -moz-transition: -moz-transform 250ms ease-in-out;
  -o-transition: -o-transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
.to-top:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.to-top::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 0 solid #a13412;
  border-width: 3px 0 0 3px;
  top: 18px;
  left: 12px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
    Стили для информационных сообщений
*/
.images-message {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 200px 50px;
}
.images-message__line-1, .images-message__line-2 {
  display: block;
}
.images-message__line-1 {
  font-weight: 700;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 72px;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
  overflow: hidden;
}
.images-message__line-2 {
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.images-message__loader {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.34);
}
