$compatible-fonts: Helvetica, Arial, sans-serif;

$base-text-color: rgba(0, 0, 0, .87);
$inaccent-text-color: rgba(0, 0, 0, .54);
$accent-text-color: #0091EA;
$fill-background-color: #f3f5f6;

$base-border-color: #ccc;
$accent-border-color: #E64A19;

$accent-background-color: $accent-border-color;
$header-background-color: rgba(21, 21, 23, .95);